/* Header.css */

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #ff6347;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}



.logo-icon {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.header-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.5px;
}

